{% load staticfiles %}
<html>
  <head>
    <title>Air Quality Survey</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'polls/airQ.css' %}">
  </head>

  <header role="banner">
  <div class="performance-title">
        An official website of air quality performance information
  </div>

  <section>
    <div>
      <div class="circle"><a></a></div>
      <div class="circle"><a></a></div>
      <div class="circle-active"><a></a></div>
      <div class="circle"><a></a></div>
      <div class="circle"><a></a></div>
      <div class="circle"><a></a></div>
    </div>
  </section>

  <section class="homepage">
    <div id="main-content">
      <h1>Please enter your zipcode to see your local area's air quality.</h1>
      <div>
        <form method="post">
        {% csrf_token %}
        {{ form }}
        <input id="submit" type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </section>

  </header>
</html>
