<html>
  <head>
    <title>Geocoding service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

  <div class="jumbotron">
    <h1>Air quality information</h1>      
  </div>

<section class="homepage">
  <div id="main-content">
    <h2>This survey aims to understand how you think about fossil fuels and air quality. It will take approximately 5 to 10 minutes to complete this survey. You can exit the survey at any time. Please do not enter any personally identifying information such as your first name, your last name, or your street address. Non-identifying demographic data will be asked.</h2>
  </div>

</section>
  </header>


   <a button type="button" class="btn btn-primary btn-block" href="{% url 'prob'%}">Next</button></a>

</div>


</html>
