{% load staticfiles %}
<html>
  <header role="banner">
    <section class="usa-banner">
      <div class="usa-grid">
        <div class="usa-banner-content" id="main-content">
          <h1>Welcome To Air Quality Performance</h1>

      <table>
      {% for q in questions %}
        <tr>
          <th>{{ q }}</th>
        </tr>
      {% endfor %}
      </table>
          <div id="floating-panel" class="usa-grid">
            <form method="post">
            {% csrf_token %}
            {{ rform }}
            <input id="submit" type="submit" value="Submit" />
            </form>
      </div>

      <p id="output"></p>
        </div>

      </div>
    </section>


  </header>

</html>
