{% load staticfiles %}
<html>
  <head>
    <title>Air Quality Survey</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'polls/airQ.css' %}">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  </head>

  <header role="banner">
    <div class="performance-title">
      An official website of air quality performance information
    </div>

    <section>
    <div>
      <div class="circle"><a></a></div>
      <div class="circle"><a></a></div>
      <div class="circle"><a></a></div>
      <div class="circle-active"><a></a></div>
      <div class="circle"><a></a></div>
      <div class="circle"><a></a></div>
    </div>
    </section>

    <section class="homepage">
      <div id="main-content">
        <h1 id=message></h1>
        <a href="{% url 'mform' zid=zipcode %}"><input id="submit" type="button" value="Next"></a>

      </div>
    </section>

  </header>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>
  var state_data = {{ state_data }};
  var site_data = {{ site_data }};
  var message = "According to the measurements obtained from Environmental \
  Protection Agency air quality sensors, the air quality in your \
  neighborhood was above average.  ";

  if (site_data < state_data) {
      message = message.concat("This means that you and your family may be \
                               exposed to more air pollution than average \
                               residents.");
      message = message.replace('above', "below");
  }

  $('#message').text(message);
  </script>
</html>
